body{
    display:flex;
    flex-direction:column;
    align-items:center;
    color: white;
    background-color: rgb(223, 164, 145);
}

.imagem{
    width: 40px;
    margin: 0 auto;
    border-color: rgb(245, 242, 242);
    border-style: groove;
    border-width: 0px;
    padding: 0px;
}
.post img{
    width: 400px;
    height: auto;
}
div.alinhar{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;

}
div.lavanda{
    width: 1200px;
    padding: 40px 2%;
    color: white;
    text-align: center;
    background-color: rgb(236, 200, 188);

}